{% extends 'layouts/base.html.twig' %}

{% set title = tab.register ~ " | " ~ website.name %}

{% block body %}
    <!-- New Career Section Heading-->
    <h2 class="text-center text-secondary font-weight-bold">{{ tab.register }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="p-3 bg-white rounded shadow center-50">
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <div class="width-fit-content mx-auto">
            <input type="submit" class="btn btn-primary-custom block" value="{{ button.validate }}" formnovalidate>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
