<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-secondary font-weight-bold fixed-top">
    <div class="container">
        <b><a class="navbar-brand" href="{{ path('app_home') }}">{{ website.name|upper }}</a></b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto">
                <li class="{{ set_active_route('app_project_create') }}">
                    <a class="nav-link py-3 px-0 px-lg-3 font-weight-bold" href="{{ path('app_project_create') }}">{{ navbar.new|upper }}</a>
                </li>
                <li class="{{ set_active_route('app_projects') }}">
                    <a class="nav-link py-3 px-0 px-lg-3 font-weight-bold" href="{{ path('app_projects') }}">{{ navbar.projects|upper }}</a>
                </li>
                <li class="{{ set_active_route('app_careers') }}">
                    <a class="nav-link py-3 px-0 px-lg-3 font-weight-bold" href="{{ path('app_careers') }}">{{ navbar.career|upper }}</a>
                </li>
                <li class="{{ set_active_route('app_profil') }}">
                    <a class="nav-link py-3 px-0 px-lg-3 font-weight-bold" href="{{ path('app_profil') }}"><i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
