{% for review in sort_reviews(reviews) %}
    <article id="{{ review.id }}" class="bg-white-custom rounded shadow p-3 mb-4">
        <div>
            <div class="mb-3">
                <span class="font-weight-bold">{{ review.reviewer }}</span>
                <span class="font-italic">{{ " - " ~ review.contact }}</span>
            </div>
            <div class="grid mb-3">
                <div class="test">
                    {{ form_label(form.markOne) }}
                </div>
                <div class="test">
                    {{ form_label(form.markTwo) }}
                </div>
                <div class="test">
                    {{ form_label(form.markThree) }}
                </div>
                <div class="test">
                    {{ include('review/_stars.html.twig', {mark: review.markOne}) }}
                </div>
                <div class="test">
                    {{ include('review/_stars.html.twig', {mark: review.markTwo}) }}
                </div>
                <div class="test">
                    {{ include('review/_stars.html.twig', {mark: review.markThree}) }}
                </div>
            </div>
            <p class="text-justify text-break">{{ review.text|nl2br }}</p>
            <div class="text-muted mt-3">
                <small><b>{{ review.date|date("d/m/Y") }}</b></small>
                {% if global == true %}
                    {{ " - " ~ review.getCareer.title }}
                {% endif %}
            </div>
        </div>
    </article>
{% endfor %}