<h2>Bonjour {{ username }},</h2>

<p>
    Vous venez de recevoir un avis de la part de <b>{{ reviewer }}</b> sur le parcours <b>{{ careerTitle }}</b><br>
    Nous vous invitons à aller le découvrir via le lien suivant : <br>
    <a href="{{ careerUrl|raw }}">{{ careerUrl|raw }}</a>. <br>
</p>

<p>
    Cordialement,<br>
    La plateforme ePortfolio+
</p>