{% extends 'layouts/base.html.twig' %}

{% set title = navbar.career ~ " | " ~ website.name %}

{% block body %}
    <!-- Career Section Heading-->
    <h2 class="page-section-heading text-center text-secondary text-uppercase font-weight-bold">{{ navbar.career }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

{% endblock %}

{% block timeline %}
    <div class="m-3 p-3 bg-white rounded shadow">
        <div class="timeline-div" id="timeline"></div>

        <div class="width-fit-content mx-auto">
            <a href="{{ path('app_career_create') }}" class="mb-2 btn btn-primary">{{ button.add }}</a>
        </div>
    </div>

    <input type="hidden" id="json_range_data" value="{{ json_range_data }}">
    <input type="hidden" id="json_moment_data" value="{{ json_moment_data }}">

    <div class="main-container unselectable">
    {% for career in user.career %}
        <article id="{{ career.title|replace({' ': '-', '\'': ''}) }}" class="bg-white rounded shadow m-4 pb-2">
            <h3 class="p-4 text-center">
                <p class="text-secondary text-decoration-none">{{ career.title }}</p>
            </h3>
            <p class="p-2">Description...</p>
            <p class="p-2">{{ career.startDate|date }}</p>
            <p class="p-2">{{ career.endDate|date }}</p>

            <div class="width-fit-content mx-auto">
                <a href="{{ path('app_career_update', {'id' : career.id}) }}" class="mb-2 btn btn-primary">{{ button.update }}</a>
                <a href="#" onclick="{{ 'event.preventDefault(); confirm(\'Veuillez confirmer la suppression\') && document.getElementById(\'js-career-delete-form-' ~ career.id ~ '\').submit();' }}" class="mb-2 btn btn-danger">{{ button.delete }}</a>
            </div>
        </article>

        <form id="{{ 'js-career-delete-form-' ~ career.id }}" action="{{ path('app_career_delete', {'id' : career.id}) }}" method="post" class="display-none">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('career_deletion_' ~ career.id) }}">
            <input type="hidden" name="_method" value="DELETE">
        </form>

    {% endfor %}
    </div>
{% endblock %}