{% extends 'layouts/base.html.twig' %}

{% set title = "TODO | " ~ website.name %}

{% block body %}
    <!-- Career Section Heading-->
    <h2 class="page-section-heading text-center text-secondary text-uppercase font-weight-bold">{{ navbar.career }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="width-fit-content mx-auto">
        <a href="{{ path('app_career_create') }}" class="mb-2 btn btn-primary">{{ button.add }}</a>
    </div>

{% endblock %}

{% block timeline %}
    <div class="timeline-div" id="timeline"></div>
    <input type="hidden" id="json_range_data" value="{{ json_range_data }}">
    <input type="hidden" id="json_moment_data" value="{{ json_moment_data }}">

    <div class="main-container">
    {% for career in profil.career %}
        <article class="project bg-white rounded shadow">
            <h3 class="p-4 text-center">
                <a href="" class="text-secondary text-decoration-none">{{ career.title }}</a>
            </h3>
            <p class="p-2">bla</p>
            <p class="p-2">{{ career.startDate|date }}</p>
            <p class="p-2">{{ career.endDate|date }}</p>
        </article>
    {% endfor %}
    </div>
{% endblock %}