{% extends 'layouts/base.html.twig' %}

{% set title = navbar.projects ~ " | " ~ website.name %}

{% block body %}
    <!-- Project Section Heading-->
    <h2 class="page-section-heading text-center text-secondary font-weight-bold">{{ navbar.projects ~ " ~ " ~ user.projects|length}}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    {% if not spectator %}
        <div class="width-fit-content mx-auto pb-3">
            <a href="{{ path('app_project_create', {'externalId' : user.externalId}) }}" class="mb-2 btn btn-secondary-custom">{{ button.add }}</a>
        </div>
    {% endif %}

    {% for row in user.projects|sort((a, b) => b.createdAt <=> a.createdAt)|batch(2) %}
        <div class="row">
            {% for project in row %}
                <div class="col-md-6 mb-4">
                    <article class="project bg-white rounded shadow p-3">
                        <div class="article">
                            <h3 class="text-center text-secondary font-weight-bold pb-3 m-0">
                                <a href="{{ path('app_project_show', {'externalId' : user.externalId, 'id' : project.id}) }}" class="text-secondary text-decoration-none">{{ project.title }}</a>
                            </h3>
                            <div class="mw-100 rounded overflow-hidden mb-3">
                                <a href="{{ path('app_project_show', {'externalId' : user.externalId, 'id' : project.id}) }}">
                                    <img src="{{ asset('/uploads/project/' ~ project.mainImage) }}" alt="Image" class="w-100">
                                </a>
                            </div>
                            <span class="title p-1">Résumé</span>
                            <p class="p-1 text-justify">{{ project.summary }}</p>
                        </div>
                        <div class="text-muted">
                            <small><b>{{ project.createdAt|date("m/Y") }}</b></small>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
