{% extends 'layouts/base.html.twig' %}

{% set title = project.title ~ " | " ~ website.name %}

{% block body %}
    <article>
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% for image in project.images %}
            <p>{{ image.name }}</p>
        {% endfor %}
        
        <a href="{{ path('app_project_update', {'id' : project.id}) }}">{{ button.update }}</a> |
        
        <a href="#" onclick="event.preventDefault(); confirm('Veuillez confirmer la suppression') &&document.getElementById('js-project-delete-form').submit();">{{ button.delete }}</a> |
        <a href="{{ path('app_projects') }}">{{ button.return }}</a>
        
        <form id="js-project-delete-form" action="{{ path('app_project_delete', {'id' : project.id}) }}" method="post" style="display: none;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('project_deletion_' ~ project.id) }}">
            <input type="hidden" name="_method" value="DELETE">
        </form>

    </article>
{% endblock %}
