{% extends 'layouts/base.html.twig' %}

{% set title = project.title ~ " | " ~ website.name %}

{% block body %}
    <!-- Project Details Section Heading-->
    <h2 class="page-section-heading text-center text-secondary text-uppercase font-weight-bold">{{ project.title ~ " ~ " ~ tab.details }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <article class="bg-white rounded shadow">
        {% for image in project.images %}
            <div class="{{ set_main_image(image.uniqueName, project.mainImage ?? '', 'show') }}">
                <img src="{{ asset('/uploads/' ~ image.uniqueName) }}" alt="Image" height="250">
            </div>
        {% endfor %}
        <p class="p-2 text-break">{{ project.description }}</p>
        <div class="width-fit-content mx-auto">
            <a href="{{ path('app_project_update', {'id' : project.id}) }}" class="mb-2 btn btn-primary">{{ button.update }}</a>
            <a href="#" onclick="event.preventDefault(); confirm('Veuillez confirmer la suppression') && document.getElementById('js-project-delete-form').submit();" class="mb-2 btn btn-danger">{{ button.delete }}</a>
        </div>
    </article>
    
    <form id="js-project-delete-form" action="{{ path('app_project_delete', {'id' : project.id}) }}" method="post" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('project_deletion_' ~ project.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}
