{% extends 'layouts/base.html.twig' %}

{% block body %}
    <!-- User Section Heading-->
    <h2 class="page-section-heading text-center text-secondary text-uppercase font-weight-bold">{{ user.firstName ~ " " ~ user.lastName }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Avatar Image-->
    <img class="mb-5 avatar" src="{{ asset('/uploads/avatar/' ~ user.avatar) }}" alt="avatar" width="250" height="250" />
    <div class="p-3 bg-white rounded shadow center-50">
        <span class="title">Profession</span>
        <p>{{ user.work }}</p>
        <span class="title">Contact</span>
        <p>
            <a class="secondary-color" href="mailto:{{ user.email }}">{{ user.email }}<a><br>
            {% if not user.isVerified and not spectator %}
            <small>
                Pour renvoyer le mail de vérification, veuillez cliquer sur <a href="{{ path('app_resend') }}">{{ button.resend }}</a>.
            </small>
            {% endif %}
        </p>
        {% if not spectator %}
        <span class="title">Lien personnel</span>
        <p><input name="personnal-link-input" type="text" value="{{ url('app_home') ~ user.externalId }}" readonly data-toggle="tooltip" title="Copié!"><p>
        {% endif %}
        <span class="title">Description</span>
        <p class="text-break text-justify">{{ user.description|nl2br }}</p>

        {% if not spectator %}
        <div class="width-fit-content mx-auto">
            <a href="{{ path('app_user_update', {externalId : user.externalId}) }}" class="mb-2 btn btn-primary-custom">{{ button.update }}</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
