{% extends 'layouts/base.html.twig' %}

{% set title = user.firstName ~ " | " ~ website.name %}

{% block body %}
    <!-- User Section Heading-->
    <h2 class="page-section-heading text-center text-secondary text-uppercase font-weight-bold">{{ user.firstname ~ " ~ " ~ tab.profile }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <img class="mb-5 avatar" src="{{ asset('/uploads/avatar/' ~ user.avatar) }}" alt="avatar" width="250" height="250" />

    <div>
      <img id="image" width="250px" src="{{ asset('/uploads/avatar/' ~ user.avatar) }}">
    </div>
    <form>
        <input type="file" name="img" id="img">
    </form>

    <input class="btn btn-primary" id="crop" value="Valider">

    <div class="p-3 bg-white rounded shadow center-50">
    {{ form_start(myForm) }}
        {{ form_widget(myForm) }}
        <div class="width-fit-content mx-auto">
            <input type="submit" class="btn btn-primary block" value="{{ button.validate }}" formnovalidate>
        </div>
    {{ form_end(myForm) }}
    </div>
{% endblock %}
