{% extends 'layouts/base.html.twig' %}

{% set title = "TODO | " ~ website.name %}

{% block body %}
    <!-- User Section Heading-->
    <h2 class="page-section-heading text-center text-secondary text-uppercase font-weight-bold">{{ user.firstname ~ " ~ " ~ tab.profil }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="p-3 bg-white rounded shadow center-75">
    {{ form_start(myForm) }}
        {{ form_widget(myForm) }}

        <input type="submit" class="btn btn-primary block" value="{{ button.validate }}" formnovalidate>
    {{ form_end(myForm) }}
    </div>
{% endblock %}
